<template>
    <div>
        <div id="storeMemberTitle" style="font-size: xx-large">가맹점 상세</div>
<!--        <el-form ref="ruleForm" label-width="auto">
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="아이디" prop="username">
                        <el-input v-model="detailInfo.username"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="대표자명" prop="name">
                        <el-input v-model="detailInfo.name"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="연락처" prop="phoneNumber">
                        <el-input v-model="detailInfo.phoneNumber"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="사업자 등록번호" prop="busineesNumber">
                        <el-input v-model="detailInfo.busineesNumber"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="가맹점 명" prop="storeName">
                        <el-input v-model="detailInfo.storeName"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="주소" prop="address">
                        <el-input v-model="detailInfo.address"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col>
                    <el-form-item>
                        <el-button type="primary" class="size-quarter" @click.native="moveCalculate">정산</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col>
                    <el-form-item>
                        <el-button type="primary" class="size-quarter">후기</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col>
                    <el-form-item>
                        <el-button type="primary" class="size-quarter">수정/저장</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>-->
        <div v-if="detailInfo != null">
            dateCreate: {{ detailInfo.dateCreate }}<br />
            username: {{ detailInfo.username }}<br />
            name: {{ detailInfo.name }}<br />
            phoneNumber: {{ detailInfo.phoneNumber }}<br />
            businessNumber: {{ detailInfo.businessNumber }}<br />
            storeName: {{ detailInfo.storeName }}<br />
            address: {{ detailInfo.address }}<br />
            isEnabled : {{ Boolean(detailInfo.isEnabled) }}<br />
    </div>
    </div>
</template>
<style>
#storeMemberTitle{
    margin: 30px 10px;
}
.el-row{
    margin-bottom: 10px;
}
</style>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$testDataConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    console.log("상세정보")
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCalculate() {
            this.$router.push(`/customer/calculate-history-list`)
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_DETAIL')
    },
}
</script>
