<template>
    <div>
        <el-table
            :data="list"
            :row-class-name="tableRowClassName">
            <el-table-column
                prop="id"
                label="No."
                width="90">
            </el-table-column>
            <el-table-column
                prop="dateCreate"
                label="등록일"
                width="180">
            </el-table-column>
            <el-table-column
                prop="username"
                label="아이디"
                width="180">
            </el-table-column>
            <el-table-column
                prop="storeName"
                label="가맹점명"
                width="180">
            </el-table-column>
            <el-table-column
                prop="address"
                label="주소"
                width="540">
            </el-table-column>
            <el-table-column
                prop="isEnabled"
                label="사용유무"
                width="90">
            </el-table-column>
        </el-table>
    </div>
</template>
<script>

export default {
    props: {
        id: {
            type: Number,
            require: true
        },
        dateCreate: {
            type: String,
            require: true
        },
        username: {
            type: String,
            require: true
        },
        storeName: {
            type: String,
            require: true
        },
        address: {
            type: String,
            require: true
        },
        isEnabled: {
            type: Boolean,
            require: true
        },
    }
}

</script>
