<template>
    <div>
        <div id="storeMemberTitle" style="font-size: xx-large">정산 등록</div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="등록년" prop="dateCreateYear">
                        <el-input v-model="ruleForm.dateCreateYear"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="등록월" prop="dateCreateMonth">
                        <el-input v-model="ruleForm.dateCreateMonth"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="수수료" prop="feesRate">
                        <el-input v-model="ruleForm.feesRate"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col>
                    <el-form-item>
                        <el-button type="primary" class="size-quarter" @click="doSetData()">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>
<style>
#storeMemberTitle{
    margin: 30px 10px;
}
.el-row{
    margin-bottom: 10px;
}
</style>
<script>
export default {
    middleware: 'auth',
    data() {
        return {
            ruleForm: {
                dateCreateYear:'',
                dateCreateMonth:'',
                feesRate:''
            },
            rules: {
                dateCreateYear: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:4, max:4, message:'XXXX', trigger: 'blur'}
                ],
                dateCreateMonth: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:2, message:'XX.', trigger: 'blur'}
                ],
                feesRate: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { message:'수수료율을 입력해주세요', trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                dateCreateYear: Number(this.dateCreateYear),
                dateCreateMonth: Number(this.dateCreateMonth),
                feesRate: Number(this.feesRate)
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$calculateHistoryConstants.DO_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/calculate-history/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_ADD')
    },
}
</script>
