<template>
    <div>
        <div id="storeMemberTitle" style="font-size: xx-large">정산 리스트</div>
        <el-button type="success" circle @click.native="moveCreate()">등록</el-button>
        <div>
            <el-table
                :width=screenX
                :data="list">
                <el-table-column
                    align="center"
                    prop="id"
                    label="No."
                    width="90">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="dateCreate"
                    label="등록년월"
                    width="180">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="username"
                    label="총매출[원]"
                    width="180">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="storeName"
                    label="수수료율[%]"
                    width="180">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="address"
                    label="공제금[원]">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="isEnabled"
                    label="정산금[원]"
                    width="100">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="status"
                    label="상태"
                    width="240">
                </el-table-column>
                <el-table-column
                    align="center"
                    width="240">
                    <el-button type="primary" @click.native="">수정</el-button>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>
<style>
#storeMemberTitle{
    margin: 30px 10px;
}
.el-row{
    margin-bottom: 10px;
}
</style>
<script>
export default {
    middleware: 'auth',
    data() {
        return {
            list: [{
                id: '1',
                dateCreate: '2023-01',
                username: '100,000원',
                storeName: '1.0%',
                address: '21,000원',
                isEnabled: '99,000원',
                status: '정산완료'
            },{
                id: '2',
                dateCreate: '2023-02',
                username: '100,000원',
                storeName: '1.0%',
                address: '21,000원',
                isEnabled: '99,000원',
                status: '정산중'
            }],
        }
    },
    methods: {
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$calculateHistoryConstants.DO_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push(`/calculate-history/form`)
        },
        moveEdit() {
            this.$router.push(`/calculate-history/`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
    },

}
</script>
