<template>
    <div>
        <div id="storeMemberTitle" style="font-size: xx-large">가맹점 등록</div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="멤버 그룹" prop="memberGroup">
                        <el-select v-model="ruleForm.memberGroup" placeholder="Select">
                            <el-option
                                v-for="item in rules.memberGroup"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="아이디" prop="username">
                        <el-input v-model="ruleForm.username"></el-input>
                    </el-form-item>
                </el-col>
                <el-button type="primary" v-on:click="checkUsername">중복 확인</el-button>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="비밀번호" prop="password">
                        <el-input v-model="ruleForm.password"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="비밀번호 확인" prop="passwordRe">
                        <el-input v-model="ruleForm.passwordRe"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="대표자명" prop="name">
                        <el-input v-model="ruleForm.name"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="연락처" prop="phoneNumber">
                        <el-input v-model="ruleForm.phoneNumber"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="사업자 등록번호" prop="busineesNumber">
                        <el-input v-model="ruleForm.busineesNumber"></el-input>
                    </el-form-item>
                </el-col>
                <el-button type="primary">중복 확인</el-button>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="가맹점 명" prop="storeName">
                        <el-input v-model="ruleForm.storeName"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="주소" prop="address">
                        <el-input v-model="ruleForm.address"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col>
                    <el-form-item>
                        <el-button type="primary" class="size-quarter" @click="doSetData()">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>
<style>
#storeMemberTitle{
    margin: 30px 10px;
}
.el-row{
    margin-bottom: 10px;
}
</style>
<script>
export default {
    middleware: 'auth',
    data() {
        return {
            ruleForm: {
                memberGroup : '',
                username : '',
                password : '',
                passwordRe : '',
                name : '',
                phoneNumber : '',
                busineesNumber : '',
                storeName : '',
                address : '',
            },
            rules: {
                username: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:5, max:30, message:'5~30자 내로 입력해주세요.', trigger: 'blur'}
                ],
                password: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:8, max:20, message:'8~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                passwordRe: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:8, max:20, message:'8~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                name: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:20, message:'2~20 내로 입력해주세요.', trigger: 'blur'}
                ],
                phoneNumber: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:13, max:13, message:'XXX-XXXX-XXXX.', trigger: 'blur'}
                ],
                busineesNumber: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:12, max:12, message:'XXX-XX-XXXXX.', trigger: 'blur'}
                ],
                storeName: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:50, message:'2~50자 내로 입력해주세요.', trigger: 'blur'}
                ],
                address: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:100, message:'2~100자 내로 입력해주세요.', trigger: 'blur'}
                ],
                memberGroup: [{
                    value: 'ROLE_ADMIN',
                    label: '관리자'
                }, {
                    value: 'ROLE_STORE',
                    label: '가맹점'
                }]
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                memberGroup:this.ruleForm.memberGroup,
                username:this.ruleForm.username,
                password:this.ruleForm.password,
                passwordRe:this.ruleForm.passwordRe,
                name:this.ruleForm.name,
                phoneNumber:this.ruleForm.phoneNumber,
                busineesNumber:this.ruleForm.busineesNumber,
                storeName:this.ruleForm.storeName,
                address:this.ruleForm.address
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$testDataConstants.DO_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/customer/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        checkUsername(){
            let payload = {
                username:this.ruleForm.username
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$testDataConstants.DO_CHECK_USERNAME, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_ADD')
    },
}
</script>
