<template>
    <div>
        <div id="storeMemberTitle" style="font-size: xx-large">가맹점 리스트</div>
        <el-button id="setButton" type="success" circle @click.native="moveCreate()">등록</el-button>
        <div>
            <el-table border :data="list" @row-click="rowClick">
                <el-table-column
                    align="center"
                    prop="id"
                    column-key="id"
                    label="No."
                    width="90">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="dateCreate"
                    label="등록일"
                    width="180">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="username"
                    label="아이디"
                    width="180">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="storeName"
                    label="가맹점명"
                    width="180">
                </el-table-column>
                <el-table-column
                    align="center"
                    prop="address"
                    label="주소">
                </el-table-column>
                <el-table-column
                    align="center"
                    label="옵션"
                    width="240">
                    <el-button type="primary" @click.native="moveDetail(list.id)">수정</el-button>
                </el-table-column>
            </el-table>
<!--            <div
                v-for="(item, index) in list"
                v-bind:key="index"
            >
                id : {{ item.id }}<br />
                name : {{ item.username }}<br />
                phone : {{ item.storeName }}<br />
                <el-button type="primary" @click.native="moveDetail(item.id)">수정</el-button>
        </div>-->
    </div>
    </div>
</template>
<style>
#storeMemberTitle{
    margin: 30px 10px;
}
#setButton{
    margin-left: 90%;
    margin-bottom: 10px;
}
.el-row{
    margin-bottom: 10px;
}
</style>
<script>
export default {
    middleware: 'auth',
    data() {
        return {
            list: []
        }
    },
    methods: {
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$testDataConstants.DO_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push(`/customer/form`)
        },
        moveDetail(id) {
            let linkBaseUrl = '/customer/detail/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        rowClick(row, column, event)
        {
            let linkBaseUrl = '/customer/detail/'
            this.$router.push(`${linkBaseUrl}${row.id}`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
    },

}
</script>
